p{
    text-align: center;
    font-size: 20px;
}

.order{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.order *{
    text-align: center;
    justify-content: center;
}

.dish-ordered{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: #82C3C0;
    margin: 20px 40px;
    border-radius: 20px;
    padding: 15px 0px;
    width: auto;
}

.dish-info{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.dish-info *{
    margin: 10px;
}
.order-btn{
    margin-left: auto;
    margin-right: auto;
}

.amount p{
    font-size: 50px;
}