@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body{
    background-color: #bee3db;
    padding: 20px 100px;
}

a{
    text-decoration: none;
    color: #555b6e;
}

a:hover{
    color: #f07167;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dish{
    padding: 50px;
    background-size: cover;

    width: inherit;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

img {
    height: 300px;
    width: auto;
}

.order-btn{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555b6e;
    border-radius: 15px;
}

.order-btn a{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}