<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/reg.css" th:href="@{/css/reg.css}" rel="stylesheet"/>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>

<h1 th:text="#{logIn}"></h1>
<div class="navigation">
    <div class="tabs">
        <a href="/"><p th:text="#{page.main}"></p></a>
    </div>
    <div class="lang">
        <a href="?lang=en" th:text="#{lang.eng}"></a>
        <a href="?lang=uk" th:text="#{lang.ukr}"></a>
    </div>
</div>

<div class="form">
    <form name="form" autocomplete="off"
          th:action="@{/login}" method="post">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <label th:text="#{email}" for="email"></label><br>
        <input type="text"
               required
               name="email"
               id="email"
               th:attr="placeholder = #{email.placeholder}"/>
        <br>
        <label th:text="#{password}" for="password"></label><br>
        <input type="password"
               id="password"
               name="password"
               required
               th:attr="placeholder = #{password.placeholder}"/>
        <input class="sbm-btn" type="submit" th:attr="value = #{submit}"/>
    </form>
</div>
</body>
</html>