<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Cabinet</title>
    <meta content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/cabinet.css}" rel="stylesheet"/>

</head>
<body>
<h1 th:text="#{cabinet}"></h1>
<div class="navigation">
    <div class="reg">
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="#{logout}"></a>
        <a href="/"><p th:text="#{page.main}"></p></a>
    </div>
    <div class="lang">
        <a href="?lang=en" th:text="#{lang.eng}"></a>
        <a href="?lang=uk" th:text="#{lang.ukr}"></a>
    </div>
</div>
<p>Welcome, <span th:text="${user}"></span></p>

<div th:if="${orders_dishes!=null && dishes!=null}">
    <p>Your orders</p>
    <div class="order">
        <div th:each="dish: ${dishes}" class="dish-ordered">
            <div>
                <img th:src="@{'~/images/'+${dish.image}}" alt="food">
            </div>
            <div class="dish-info">
                <h3 th:text="${dish.name}"></h3><br>
                <p th:text="${dish.price}"></p><br>
                <p th:each="order_dish: ${orders_dishes}">
                <span th:if="${order_dish.dish_id == dish.id}">
                    <span th:text="'Amount '+${order_dish.amount}"></span>
                    <span>Total: <span th:text="${dish.price * order_dish.amount}"></span></span>
                </span>
                </p>
                <span class="amount">
                    <a th:href="@{/userCabinet/incItem/{dishId}(dishId=${dish.id})}"}><p>+</p></a>
                    <a th:href="@{/userCabinet/decItem/{dishId}(dishId=${dish.id})}"}><p>-</p></a>
                </span>
            </div>
        </div>

        <div class="order-btn">
            <a href="#">Оплатити</a>
        </div>
    </div>
</div>


</body>
</html>