<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>User Cabinet</title>
    <meta content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/main.css}" rel="stylesheet"/>

</head>
<body>
<h1 th:text="#{cabinet}"></h1>
<div class="reg">
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
        Logout
    </a>
    <a href="/"><p th:text="#{page.main}"></p></a>
</div>
<p>Welcome, <span sec:authentication="principal.username"></span></p>
</body>
</html>